html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: ghostwhite;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
}
.set1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12{
    width: 200px;
    height: 200px;
    background-position: center;
}
.box1{
    background-image: url(https://picsum.photos/seed/20/900);
}
.box2{
    background-image: url(https://picsum.photos/seed/21/900);
}
.box3{
    background-image: url(https://picsum.photos/seed/22/900);
}
.box4{
    background-image: url(https://picsum.photos/seed/23/900);
}
.box5{
    background-image: url(https://picsum.photos/seed/24/900);
}
.box6{
    background-image: url(https://picsum.photos/seed/25/900);
}
.box7{
    background-image: url(https://picsum.photos/seed/26/900);
}
.box8{
    background-image: url(https://picsum.photos/seed/27/900);
}
.box9{
    background-image: url(https://picsum.photos/seed/28/900);
}
.box10{
    background-image: url(https://picsum.photos/seed/29/900);
}
.box11{
    background-image: url(https://picsum.photos/seed/30/900);
}
.box12{
    background-image: url(https://picsum.photos/seed/31/900);
}